{#
Copyright (c) 2014, Anaphore
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    (1) Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.

    (2) Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in
    the documentation and/or other materials provided with the
    distribution.

    (3)The name of the author may not be used to
   endorse or promote products derived from this software without
   specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
#}


    {% if tagcloud is defined and search_form == 'default'%}
        <ul id="tagcloud">
        {% for tag,weight in tagcloud %}
            <li>
                <a href="{{ path(search_path, {form_name: search_form, query_terms: tag|url_encode}) }}" class="tag{{ weight }}">{{ tag }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% set testcUnitidbegin = false %}
    {% if filters is defined and filters is not null%}
        <h2>{{ _('Active filters') }} <a href="{{ path('federate_search', {form_name: search_form, query_terms: q, clear_filters: true}) }}" class="clear-btn" title="{{ _('Clear refined query') }}">{{ _('Clear') }}</a></h2>
        <div id="active_filters">
            {% for filter_name,values in filters %}
                {% if filter_name == 'cUnitidbegin'%}
                    {% set testcUnitidbegin = true %}
                {% endif %}
                {% if values is not iterable %}
                    {% set values = []|merge([values]) %}
                {% endif %}
            <h3>{% if all_facets[filter_name] is defined %} {{ all_facets[filter_name] }}{% else %}{{ _('Unknown filter') }}{% endif %}</h3>
            <ul>
                {% for value in values %}
                <li>
                    <a href="{{ path('federate_search', {form_name: search_form, query_terms: q, rm_filter_field: filter_name, rm_filter_value: value}) }}" class="remove_filter" title="{{ _('Remove filter on \'%value%\'')|replace({'%value%': value}) }}">
                        {% if facet_labels[filter_name] is defined %}
                            {{ facet_labels[filter_name][value] | replace({'&amp;':'&'}) }}
                        {% else %}
                            {{ value | replace({'&amp;': '&'}) }}
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    {% endif %}

    {% if facets is defined and facets|length > 0 and (searchResults is  not defined or searchResults|length > 0) %}
        {% if searchResults is defined %}
        <h2>{{ _('Refine Query') }}</h2>
        {% endif %}
        {% if search_form == 'matricules'%}
        <div id="facets_matricules">
        {% else %}
        <div id="facets">
        {% endif %}
        {% for facet_field,facet in facets %}
            {% set diff = true%}
            {% if (facet_field == 'cDateBegin' or facet_field == 'date_enregistrement' or facet_field == 'annee_naissance' or facet_field == 'classe')  %}
                {% if stats[facet_field].min|date('Y') != stats[facet_field].max|date('Y') %}
                    <h3>{{ facet.label }}</h3>
                {% else %}
                    {% set diff = false%}
                {%endif%}
            {% else %}
                {% if facet_field == 'cUnitidbegin' and testcUnitidbegin == true %}
                {% else%}
                    <h3>{{ facet.label }}</h3>
                {%endif%}
            {% endif%}
            {% if (facet_field == 'cDateBegin' or facet_field == 'date_enregistrement' or facet_field == 'annee_naissance' or facet_field == 'classe')  %}
                {% if stats[facet_field].min|date('Y') != stats[facet_field].max|date('Y') %}
                    <div class="range_date">
                {%endif%}
            {% else %}
                {% if facet_field == 'cUnitidbegin' and testcUnitidbegin == true %}
                {% else %}
                    <div>
                {% endif%}
            {% endif %}

            {% if facet_field == 'cUnitidbegin' and testcUnitidbegin == false %}
                <form id="{{ facet_field}}_change">
                    <ul>
                        <li>
                            <input id="facet_field" name="filter_field" value="{{facet_field}}" type="hidden" />
                            <input class="interv_unitid" type="number" name="filter_value" id="{{ facet_field }}_input" value=""/>
                            <span class="buttons_container"><input type="submit" id="{{ facet_field }}_date_set" value="{{ _('Go') }}"/></span>
                        </li>
                    </ul>
                </form>
                <script type="text/javascript">
                    $(function(){

                        $('#cUnitidbegin_input').spinner({
                            min: 0,
                            page: 1,
                            value: 0
                        });
                     });
                    </script>
                {% endif %}

                {% if (facet_field == 'cDateBegin' or facet_field == 'date_enregistrement' or facet_field == 'annee_naissance' or facet_field == 'classe') and stats[facet_field].min|date('Y') != stats[facet_field].max|date('Y') %}
                    <form id="{{ facet_field }}_change">
                        <ul>
                            <li>
                                <label for="{{ facet_field }}_range_date_min">{{ _('From:') }}</label>
                                <input type="text" name="{{ facet_field }}_range_date_min" id="{{ facet_field }}_range_date_min" value="{{ stats[facet_field].min|date('Y') }}"/>
                                <label for="{{ facet_field }}_range_date_max"> {{ _('to:') }}</label>
                                <input type="text" name="{{ facet_field }}_range_date_max" id="{{ facet_field }}_range_date_max" value="{{ stats[facet_field].max|date('Y') }}"/>
                                <input type="hidden"  name="form_name" value="{{ search_form}}" />
                                <div id="{{ facet_field }}_range" class="date_range"></div>
                                <span class="buttons_container"><input type="submit" id="{{ facet_field }}_range_date_set" value="{{ _('Go') }}"/></span>
                            </li>
                        </ul>
                    </form>
                    <script type="text/javascript">
                        $(function(){
                            var _{{ facet_field }}_valid_min = {{ stats[facet_field].min|date('Y') }};
                            var _{{ facet_field }}_valid_max = {{ stats[facet_field].max|date('Y') }};

                            $('#{{ facet_field }}_range_date_min,#{{ facet_field }}_range_date_max').spinner({
                                min: _{{ facet_field }}_valid_min,
                                max: _{{ facet_field }}_valid_max,
                                page: 100,
                                value: $(this).val(),
                                change: updateSlider,
                                stop: updateSlider
                            });

                            $('#{{ facet_field }}_range_date_set').button();
                            $('#{{ facet_field }}_change').on('submit', function(){
                                //check for date input validity
                                var _min = $('#{{ facet_field }}_range_date_min').val();
                                var _max = $('#{{ facet_field }}_range_date_max').val();
                                var _valid = true;

                                if ( isNaN(_min) || _min % 1 != 0 ) {
                                    alert('{{ _('Please enter an integer as start date!')|escape('js') }}');
                                    _valid = false;
                                } else if (_min < _{{ facet_field }}_valid_min)  {
                                    alert('{{ _('Start date must be greater than %date')|escape('js') }}'.replace('%date', _{{ facet_field }}_valid_min));
                                    _valid = false;
                                }

                                if ( isNaN(_max) || _max % 1 != 0 ) {
                                    alert('{{ _('Please enter an integer as end date!')|escape('js') }}');
                                    _valid = false;
                                } else if (_max > _{{ facet_field }}_valid_max)  {
                                    alert('{{ _('End date must be earlier than %date')|escape('js') }}'.replace('%date', _{{ facet_field }}_valid_max));
                                    _valid = false;
                                }

                                return _valid;
                            });

                            var {{ facet_field }}_slider = $('#{{ facet_field }}_range').slider({
                                range: true,
                                min: {{ stats[facet_field].min|date('Y') }},
                                max: {{ stats[facet_field].max|date('Y') }},
                                values: [_{{ facet_field }}_valid_min, _{{ facet_field }}_valid_max],
                                slide: function(event, ui) {
                                    $('#{{ facet_field }}_range_date_min').val(ui.values[0]);
                                    $('#{{ facet_field }}_range_date_max').val(ui.values[1]);
                                }
                            });

                            function updateSlider() {
                                {{ facet_field }}_slider.slider(
                                    'values',
                                    [$('#{{ facet_field }}_range_date_min').val(), $('#{{ facet_field }}_range_date_max').val()]
                                );
                            }
                        });
                    </script>
                {% endif %}
                {% if facet.content|length > 0 and facet_field !='cUnitidbegin'  %}
                    <ol>
                    {% set index_name = facet.index_name %}
                    {% if facet_name is defined and facet_name == index_name or facet.content|length < 20 %}
                        {% set facet_content = facet.content %}
                    {% else %}
                        {% set facet_content = [] %}
                        {% set compteur = 0 %}
                        {% for facet,count in facet.content if compteur < 10 %}
                            {% set facet_content = facet_content|merge( {('*-#'~facet):(count)} ) %}
                            {% set compteur = loop.index %}
                        {% endfor %}
                    {% endif %}
                    {% for facet,count in facet_content %}
                        {% if facet|split('*-#')[1] is not defined %}
                        {% else %}
                            {% set facet = facet|split('*-#')[1]%}
                        {% endif %}
                        <li>
                            <a href="{{ path('federate_search', {form_name: search_form, query_terms: q, filter_field: index_name, filter_value: facet}) }}">
                            {% if facet_labels[index_name] is defined %}
                                {{ facet_labels[index_name][facet] | replace({'&amp;': '&'}) }} ({{ count }})
                            {% else %}
                                {{ facet | replace({'&amp;': '&'}) }} ({{ count }})
                            {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                    {% if facet.content|length > 10 and not (facet_name is defined and facet_name == index_name) %}
                        {% if q == '' %}
                            {% set q = '*:*' %}
                        {% endif %}
                        {% if facet_content|length != facet.content|length %}
                            {% if search_form == 'default' %}
                                <li class="show_more"><a href="{{ path('federate_search', {form_name: search_form, query_terms: q, page: page, page_mat: page_mat,facet_name: index_name}) }}">{{ _('Show more (%count left)')|replace({'%count': facet.content|length-10}) }}</a></li>
                            {% else %}
                                <li class="show_more"><a href="{{ path('federate_search', {form_name: search_form, query_terms: q, page: pageEad, page_mat: page, facet_name: index_name}) }}">{{ _('Show more (%count left)')|replace({'%count': facet.content|length-10}) }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    </ol>
                {% endif %}
                {% if diff is defined and diff == false %}
                {% else %}
                    {% if facet_field == 'cUnitidbegin' and testcUnitidbegin == true %}
                    {% else %}
                        </div>
                    {%endif%}
                {% endif %}

            {% endfor %}
        </div>
        {% endif %}
