{#
Copyright (c) 2014, Anaphore
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    (1) Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.

    (2) Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in
    the documentation and/or other materials provided with the
    distribution.

    (3)The name of the author may not be used to
   endorse or promote products derived from this software without
   specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
#}


{% block intro %}
    {% if html_intro_exists('intro_matricules.html') %}
        {{ get_html_intro('intro_matricules.html')|raw }}
    {% else %}
        <!--h2 id="welcome">{{ _('Search in matricules') }}</h2-->
    {% endif %}
{% endblock %}

    {% if (matriculesSearch['filters'] is defined and matriculesSearch['filters'] is not empty) or (matriculesSearch['facets'] is defined and matriculesSearch['facets'] is not empty) %}
    <div class="menu">
        {% include 'BachHomeBundle:Commons:menu.html.twig' with matriculesSearch %}
    </div>
    <div id="blockMat" class="blockWithMenu">
    {% else %}
    <div id="blockMat" class="blockWithoutMenu">
    {% endif %}

    {% if matriculesSearch['by_year'] is defined %}
        {% if matriculesSearch['current_date'] == 'date_enregistrement' %}
            {% set display_date_mat = _('record date') %}
        {% elseif matriculesSearch['current_date'] == 'classe' %}
            {% set display_date_mat = _('class') %}
        {% elseif matriculesSearch['current_date'] == 'annee_naissance' %}
            {% set display_date_mat = _('birthdate') %}
        {%endif%}


    {% if suggestions is defined and searchResults is defined and searchResults|length > 0 %}
    <aside id="suggestions">
        <strong>{{ _('Additionnal search suggestions:') }}</strong><br/>
        {% for term,termResult in suggestions %}
            {% if termResult|length > 0 %}
                {% for suggest in termResult %}
                    <a href="{{ path('federate_search', {form_name: search_form, query_terms: suggest}) }}">{{ suggest }}</a>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </aside>
    {% endif %}

        <div id="dates_plot_mat" class="hidden" title="{% if disable_select_daterange is not defined or disable_select_daterange == false %}{{ _('Please adjust the period to narrow the search by %datetype%')|replace({'%datetype%':display_date_mat}) }}{% else %}{{ _('Number of records by %datetype%')|replace({'%datetype%': display_date_mat}) }}{% endif %}"></div>
    {% endif %}
        <div id="map2"></div>

{% if matriculesSearch['searchResults'] is defined %}
    {% include 'BachHomeBundle:Matricules:results.html.twig' with matriculesSearch %}
{% endif %}
    </div>
