{#
Copyright (c) 2014, Anaphore
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    (1) Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.

    (2) Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in
    the documentation and/or other materials provided with the
    distribution.

    (3)The name of the author may not be used to
   endorse or promote products derived from this software without
   specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
#}

{% extends '::base.html.twig' %}

{% block menu %}
    {% include 'AdministrationBundle:Admin:menu.html.twig' %}
{% endblock %}

{% block container %}
    {% if template == 'main' %}
    <h2 id="welcome">{{ _('Welcome to Bach\'s!') }}</h2>
    {{ _('This section contain additional informations not directly related to Bach Ricercare.') }}
    {% else %}
        {% if aws %}
            {% if template == 'generateImages' %}
                {% include 'AdministrationBundle:Default:generateImages.html.twig'%}
            {% endif %}
        {% else %}
            {% include 'AdministrationBundle:Admin:noAws.html.twig'%}
        {% endif %}
    {% endif %}
{% endblock %}

{% block css %}
    <link href="{{ asset('css/countdown/countdown.css') }}" type="text/css" rel="stylesheet" />
{% endblock%}

{% block js_calls %}
    <script src="{{ asset('js/countdown/countdown.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block javascripts %}
    $(function(){
    {% if template == 'generateImages'%}
        $('#clock').countdown('{{clockending}}')
            .on('update.countdown', function(event) {
                var format = '%H:%M:%S';
                if(event.offset.totalDays > 0) {
                    format = '%-d day%!d ' + format;
                }
                if(event.offset.weeks > 0) {
                    format = '%-w week%!w ' + format;
                }
                $(this).html(event.strftime(format));
            }).on('finish.countdown', function(event) {
                $(this).html('{{ _('Image generation is over!') }}')
                .parent().addClass('disabled');
            });
    {% endif %}
    });
{%endblock%}
